
:root {
    --color-first: #f58220;
    --color-first-dark: #ff7500;
    --color-first-light: #fab377;

    --color-second: #668ca5;
    --color-second-light: rgb(232, 243, 250);

    --color-text-light: #fff;
    --color-text-dark: #a6a6a6;
    --color-text-primary: #7495ae;
    --color-light-grey: #f2f2ef;
    
    --shadow-dark: 0 2rem 6rem rgba(0,0,0, .3);
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px

    @media only screen and (max-width: 1000px) {
        font-size: 55%;
    }  

    @media only screen and (max-width: 768px) {
        font-size: 50%;
    }  

    @media only screen and (max-width: 414px) {
        font-size: 40%;
    }  

}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    line-height: 1.6;
    color: var(--color-text-dark);
    min-height: 100vh;
}

.container {
    background-color: var(--color-light-grey);
    display: flex;

    @media only screen and (max-width: 768px) {
        position: relative;  
    }
    
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.sidebar {
    flex: 0 0 15%;
    background-color:#191919;

    @media only screen and (max-width: 768px) {
        position: absolute; 
        display: none;
        top: 45px;
        min-height: 100vh;
    }
}

.header {
    height: 5rem;
    background-color: #fff;
    display: flex;
}
.dashboard {
    @media only screen and (max-width: 320px) {
        max-width: 320px;  
    }
    
}

.box {
    background-color: #fff;
    margin: 2.75rem;
    display: none;
    flex-direction: column;


    @media only screen and (max-width: 768px) {
        margin: .5rem;  
    }

     @media only screen and (max-width: 500px) {
        margin: 0rem;  
    }

    &.active { 
        display: flex;
      
      }

    &__item {
        flex: 1;
        margin: .5rem;
        font-weight: 400;
        font-size: 1.75rem;
        padding: 1rem 2rem;
        text-align: center;
        &:not(:last-child)  {
            border-bottom: 2px solid var(--color-light-grey);    
        }
        }

        @media only screen and (max-width: 1000px) {
            
        };   

    h1 {
        text-transform: uppercase;
        font-size: 1.75rem;
        font-weight: 300;
        text-align: left;
    }
}

.hamburger {
    min-width: 50px;
    min-height: 50px;
    align-items: center;
    padding-left: 10px;
    margin-right: auto;
    display: none;
    @media only screen and (max-width: 768px) {
        display: flex; 
    }

}


.not-active {
    display: block;
}

////col2

.col-2 {
    list-style: none;
    margin: 0 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    &__item {
        flex: 0 0 50%;
        padding: .5rem 2.25rem;
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid var(--color-light-grey);

        @media only screen and (max-width: 768px) {
            flex: 0 0 100%;
        }
    }
}
