
:root {
    --color-first: #f58220;
    --color-first-dark: #ff7500;
    --color-first-light: #fab377;

    --color-text-light: #fff;
    --color-text-dark: #a6a6a6;
    --color-text-primary: #7495ae;
    --color-light-grey: #f2f2ef;
    
    --shadow-dark: 0 2rem 6rem rgba(0,0,0, .3);
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    line-height: 1.6;
    color: var(--color-text-dark);
    background-image: linear-gradient(to right bottom, var(--color-first-light), var(--color-first-dark));
    background-size: cover;
    background-repeat: no-repeat;

    min-height: 100vh;
}

.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-light-grey);
    box-shadow: var(--shadow-dark);
    min-height: 50rem;
    display: flex;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.sidebar {
    flex: 0 0 15%;
    background-color:#191919;
}

.header {
    height: 5rem;
    background-color: #fff;
    display: flex;
}

.dashboard-view {

    &__item {
        background-color: #fff;
        margin: 1.75rem;
        min-height: 50rem;

        &--title {
            text-transform: uppercase;
            font-weight: 400;
            font-size: 1.75rem;
            padding: 1rem 2rem;
            border-bottom: 2px solid var(--color-light-grey);
        }

        &--date {
            display: flex;
            justify-content: center;
            margin: 1.2rem;
            font-size: 1.75rem;
            color: black;
            border: 1px solid black;
            width: 50%;
            text-align: center;

            &-element {
                padding: .5rem 4rem .5rem 1rem;
            
            }
        }
    }
    
}


