/* Colors */
$paragraph-color: #000000;

$brand-main-color: #f58220;
$brand-main-color-light: #fab377;
$brand-main-color-dark: #ff7500;

$color-light-grey: #e2e1e1d8;

/* Font size */
$paragraph-font-size: 62.5%; // 1rem = 10px

/* Fonts */
$brand-font: 'Roboto', sans-serif;
$paragraph-font: "Roboto", sans-serif;