/* Colors */
$paragraph-color: #000000;
$brand-main-color: #ff0000;

/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$brand-font: "Open Sans", Helvetica, Arial;
$paragraph-font: "Open Sans", Helvetica, Arial;
 
@font-face {
    font-family: 'glyphterregular';
    src: url('../../src/font/glyphter-webfont.woff2') format('woff2'),
         url('../../src/font/glyphter-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}