.btn {
    background-color: var(--color-first);
    padding: 1.25rem;
    margin: 2rem 1.25rem;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    &:hover {
        box-shadow: .2rem .2rem .75rem rgba(0,0,0, .2);  
    }
    &:active {
        transform: translate(2px, 2px);
    }

    @media only screen and (max-width: 1000px) {
        padding: .75rem 1.25rem;
        margin: 1.5rem;
        font-size: 1.5rem;
    } 

    @media only screen and (max-width: 768px) {
        padding: .75rem 1.25rem;
        margin: 1.5rem;
        font-size: 1.2rem;
    };
      
}

.btn-nav {
    border: none;
    border-radius: 0;
    background-color: $color-light-grey;
    height: 2px;
    width: 3.5rem;
    
    &::before,
    &::after {
        content: "";
        background-color: $color-light-grey;
        height: 2px;
        width: 3.5rem;
        display: block;
    }

    &::before { transform: translateY(-.9rem);}
    &::after { transform: translateY(.7rem);}
}