.date {
    display: flex;
    justify-content: center; 

    input {
        padding: 0 .5rem;
        margin: 2rem 0;
        font-size: 1.75rem;
        font-family: inherit;
        color: inherit;
    }

  }