.side-logo {
    display: flex;
    align-items: center;

    img {
        margin: 1.25rem;
    }  
}

.side-nav {
    display: flex;
    flex-direction: column;
    list-style: none;
    
    &__item {
        display: flex;
        align-items: center;
        position: relative;
    
        &:not(:last-child) {
            margin-bottom: .5rem;
        }
    }

    &__item:hover &__link {
        border-left:5px solid var(--color-first);
        color: white;
    }

    &__item:hover::before,
    &__item-active::before {
        content: "";
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        opacity: 20%;
    }

    &__link,
    &__link:link,
    &__link:visited {
        display: flex;
        align-items: center;
        text-decoration: none;
        position: relative;
        color: var(--color-text-dark);
    }

    &__icon {
        font-size: 1.75rem;
        margin: 1.25rem 2rem;
    
    }

    &__text {
        font-size: 1.25rem;
    }

}

.side-nav__item-active .side-nav__link {
    border-left:5px solid var(--color-first);
    color:white;
    
}

.side-footer {
    &__title {
        text-transform: uppercase;
        font-size: 1.5rem;
        text-align: center;
        border-top: 1px solid var(--color-text-dark);
        padding-top: 2rem;
    }

    &__user {
        display: flex;
        justify-content: center;
        align-items: center;
        
        span {
            font-size: 1.25rem;
        }
    }

    &__user-photo {
        position: relative;

        img {
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
            margin: 1rem;
        }
    }

    &__user-photo::before {
        content: "";
        position: absolute;
        top: 10%;
        left: 65%;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: green;
    }
}