.logo {
    color: white;
    font-family: $brand-font;
    font-size: 20px;
}

.sidebar {
    background-color: black; 
    position: fixed;
}

.sidebar a {
    flex: 1;
    width: 100%;
	text-align: left;
	font-size: 16px;
    text-decoration: none;
    padding: 5px;
    color: white;
}

svg {
    fill: white;
}

.sidebar a.active {
    background-color: gray;
    color: white;
}

.sidebar a:hover:not(.active) {
    background-color: gray;
    color: white;
  }