.user-nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid $color-light-grey;;

    &__icon {
        font-size: 1.75rem;
        padding: 1.5rem 1.9rem;
        &:not(:nth-child(3)) {
            border-left: 1px solid $color-light-grey;
        }
    }
    
    &__wallet{
    
    }

    &__account {
        font-size: 1.3rem;
        margin-right: 1.5rem;
    }
}
